### Client Analysis
- This notebook is ideal to understand schema and data within the databases stored in data/

In [2]:
# Import libraries
import sqlite3
import pandas as pd
import json

In [3]:
# Connect to the database
conn = sqlite3.connect('../data/client_1.db')

In [4]:
# Read tables into DataFrames
workouts = pd.read_sql_query("SELECT * FROM resistance_training_workouts", conn)
sessions = pd.read_sql_query("SELECT * FROM resistance_training_session_data", conn)
exercises = pd.read_sql_query("SELECT * FROM exercise", conn)

# Close connection
conn.close()

print(f"Loaded {len(workouts)} workouts, {len(sessions)} sessions, {len(exercises)} exercises")

Loaded 11 workouts, 161 sessions, 1178 exercises